// background colors

$total-white: white;
$white-color-1-opac: #ffffff33;
$white-color-2-opac: #ffffff26;
$white-color-3: #fafafa;
$white-color-4: #fbf9f9;
$white-color-5: #f9f9f9;
$white-color-6: #e1e1e1;
$red-color: #ff4612;
$purple-color: #ef2853;
$purple-color-light: #ef2852;
$gray-color-opac: #1e1e1e4d;
$total-black: #000000;
$black-color: #1e1e1e;
$black-color-1: #1e1c1c;
$black-color-2: #191515;
$black-color-3: #181516;
$black-color-3-opac: #00000026;
